# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run_old/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
/src/main/java/at/tobiazsh/myworld/traffic_addition/._utils
/src/main/java/at/tobiazsh/myworld/traffic_addition/Utils/._Coordinates.java
/src/client/java/at/tobiazsh/myworld/traffic_addition/components/Renderers/._TriangularSignBlockRenderer.java

/run/
/src/main/resources/assets/myworld_traffic_addition/textures/imgui/sign_res/icons/aut/arrow.ai
